body {
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Raleway", sans-serif;
}
h1,
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  font-size: 12px;
}
.navHeader {
  display: flex;
  justify-content: space-between;
}
.navHeader div {
  padding-top: 37px;
}
.navHeader a:link {
  text-decoration: none;
  color: #000;
}
.navHeader a:hover {
  padding-top: 37px;
  border-top-style: solid;
  border-top-width: 1px;
  color: #0065fc;
}
div.logo a:hover {
  border-style:none;
}
form button {
  height: 32px;
}
form input {
  height: 28px;
  border-style: solid;
  border-color: #f2f2f2;
  border-width: 1pt;
}
form button:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-color: #f2f2f2;
  width: 36px;
  background-color: #f2f2f2;
  border-bottom-style: solid;
  margin-right: -4px;
}
form button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-color: #0065fc;
  background-color: #0065fc;
  color: white;
  margin-right: -4px;
}
nav input {
  margin-left: -4px;
  margin-right: -4px;
  font-weight: 600;
  color: #000;
}
.filterBox {
  display: flex;
}
.filters {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 33px;
  font-weight: 600;
  font-size: 9pt;
  padding-top: 2%;
  padding-bottom: 2%;
}
.filterBox .f1 {
  border-radius: 33px;
  height: 33px;
  width: 33px;
  background-color: #deebff;
}

.f1 i {
  padding: 10px;
  color: #0065fc;
}
.f1 + div {
  padding: 10px;
}
.filterText {
  padding-top: 10px;
}
.filterBox {
  border-style: solid;
  border-radius: 33px;
  border-width: 1px;
  border-color: #e1e1e1;
  padding-right: 12px;
}
 
.info span {
  border-radius: 11px;
  border-width: 1px; 
  border-style: solid;
  border-color: #e1e1e1;
  color: #0065fc;
  padding: 1px 7px;
  margin-right: 7px;
}
.info p {
  font-size: 9pt; 
}

.footer {
  background-color: #f2f2f2;
  width: 105%;
  margin: 5% 0 5% -2.5%;
  padding: 5% 0 5% 0;
}
.footWrapper {
  display: flex;
  justify-content: flex-start;
}
.footTi {
  font-weight: 600;
}
.footCol a {
  text-decoration: none;
  color: #000;
}
.footCol {
  margin: 0 90px 0 25px;
  padding: 5px;
}
.accomTi,
.popularTi,
.activTi {
  font-size: 19px;
  font-weight: 600;
  padding-top: 12px;
}
.accomWrapper {
  display: flex;
  flex-direction: row;
  height: 500px;
}
.accommodations a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.accommodations h3 {
  padding-top: 12px
}
.accommodations,
.popular {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 28px;
  padding-top: 0%;
}
.accommodations{
  padding-bottom: 12px;
}
.wrap-div {
  width: 22px;
  background-color: #fff;
}
.accomWrapper .accommodations {
  display: flex;
  justify-content:center;
  flex-direction: column;
  flex-grow: 3;
  width: 60%;
}
.accomRow1,
.accomRow2 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 20%;
  padding: 8px;
  margin: 0 -18px;
}

.accomWrapper .popular {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.activWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 350px;
  width: 100%;
}
.activCol1,
.activCol2,
.activCol3,
.activCol4 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 25%;
}
  
.activCol1 div {
  flex-grow: 1;
} 
.activCol3 div {
  flex-grow: 1;
}

.activCol1 img {
  height: 91%;
} 
.activCol3 img {
  height: 91%;
} 
.activCol2 img {
  height: 55%;
}
.activCol4 img {
  height: 70%;
}

/* column padding */
.activCol1 {
  padding: 0 22px 0 0;
}
.activCol2 {
  padding: 0 22px 0 0;
}
.activCol3 {
  padding: 0 22px 0 0;
} 
 /*
/* column2 of activWrapper */
.activCol2 {
  height: 80%;
}
.stretch-activCol2  img {
  height: 48%;
}
.activCol2 .card-activ:nth-child(1) {
  flex-grow: 2; 
  height: 68%;
  margin: 0 0 22px 0;
}
.activCol2 .card-activ:nth-child(2) {
  flex-grow: 1;
  height: 42%;
}
/* column4 of activWrapper */
.activCol4{
  height: 72%;
}
.activCol4 .card-activ {
  height: 61%;
  flex-grow: 1;
}
.stretch-activCol4 {
  margin: 0 0 22px 0;
}
 .stretch-activCol4 img{
  height: 75%;
}
.shrink-activCol4 img{
  height: 67%;
}

/* card styles */
.card {
  font-size: 11px;
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  border: 5px solid #fff;
  border-radius: 15px;
  display: flex;
  background-color: #fff;  
}

.card h3 {
  font-size: 11px;
  margin: 0 0 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #00000033;
}

.card-accom {
  font-size: 11px;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0 0 0;
  margin: 0 10px 0 10px;
  width: 33%;
}


/* hotel stars */
.card .ic-blue {
  color: #0065fc;
}
.card .ic-fade {
  color: #d0d0d0;
}


/* 'Accomodations' images */
.card img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
}
.card-accom div:nth-child(1) {
  height: 60%;
}
.card-accom img {
  height: 100%;
}


/* cards in 'Most Popular' block */
.card  div {
  border-radius: 0 0 15px 15px;
  object-fit: cover;
  width: 100%;
  padding: 0 0 0 0;
  font-size: 11px;
}
.popular{
  width: 25%;
  flex-grow: 1;
}
.popular .card {
  margin: 8px;
}
.card-popular {
  flex-direction: row;
  height: 22%;
  font-size: 11px;
}
.card-popular img {
  /* overrides card's object-fit property */
  height: 100%;
  width: 75%;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 15px;
}
.card-popular .inner-row {
  margin-right: -22px;
}
.card-popular .inner-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* cards in 'Activities' block */
.card-activ {
  flex-direction: column;
} 

.card-activ h3 {
  margin: 7px 0 0 7px;
}
